.my-groups-container 
{
    display: flex;
    justify-content: center;
    table {
        width: 80%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
      
        td,
        th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
      }
}

  