.add-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 20%;
        margin-bottom: 2%;
        background-color: #004e7c;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 15px;
        padding: 10px;
    }
}