@import '../../../assets/style/required.scss';

.g-form-select {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: $white;
	border: 1px solid #5c5f58;
	.g-form-select__text {
		width: 100%;
		display: flex;
		.g-form-select--input {
			height: 42px;
			background-color: $white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
		.g-form-select__text--indicator {
			width: 35px;
			color: #000;
		}
		.g-form-select__text--loading {
			width: 35px;
			color: $nBrand;
		}
		.g-form-select__text--close {
			width: 35px;
			color: $gray;
			padding-top: 10px;
		}
	}
	.dropdown-options {
		position: absolute;
		background-color: #dce1e3;
		min-width: 160px;
		z-index: 1;
		width: 100%;
		.dropdown-options__item {
			background-color: #dce1e3;
			border: 1px solid #5c5f58;
			color: $darker;
			padding: 10px;
			text-decoration: none;
			display: block;
			&:hover {
				background: #b73225;
				color: #fff;
			}
		}
	}
}
