@import '../../../style/required'

.g-form-check 
  flexbox(row, flex-start, flex-start)
  input 
    display: none
    &:checked + span 
      i 
        display: inline-block
      
  &__icon 
    border: 1px solid $basicFour
    width: 18px
    flex: 0 0 18px
    height: 18px
    background $white
    i 
      color: $brandDark
      font-size 15px
      position: relative
      top: 0
      left: 1px
      display: none
  
  &__text 
    flex: 1
    font-size 15px
    padding-left: 10px
    color: $basicOne
  

