@import '../../../assets/style/required.scss'

.g-form-field {
	position: relative;
	margin-bottom: 24px;
}
.g-form-error {
	display: block;
	color: $red;
	font-size: 12px;
	font-weight: 500;
	margin-top: 5px;
}
