.my-words-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  table {
    width: 80%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    td,th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 15px;
      } 
      img {
        cursor: pointer;
        margin-left: 10%;
      }
  }
  #table tr:nth-child(odd) {
    background-color: #eee;
  }
  #table th {
    background-color: #5c5f58;
    color: white;
  }
}

  